<!DOCTYPE html>
<html>
<head>
    <title>Mark Attendance</title>
</head>
<body>
    <h1>Mark Attendance</h1>
    <form id="attendanceForm" method="post">
        {% csrf_token %}
        <input type="hidden" id="id_latitude" name="latitude">
        <input type="hidden" id="id_longitude" name="longitude">
        <button type="button" onclick="getLocation()">Mark Attendance</button>
    </form>
    <a href="{% url 'view_attendance' %}">View Attendance Records</a>
    <br>
    <a href="{% url 'logout' %}">Logout</a>
   
    <script>
        function getLocation() {
            if (navigator.geolocation) { // HTML5 geolocation Web API
                navigator.geolocation.getCurrentPosition(setPosition, showError);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function setPosition(position) {
            document.getElementById('id_latitude').value = position.coords.latitude;
            document.getElementById('id_longitude').value = position.coords.longitude;
            console.log('Latitude: ' + position.coords.latitude);
            console.log('Longitude: ' + position.coords.longitude);
            document.getElementById('attendanceForm').submit(); // Automatically submit the form after setting the values
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }
    </script>
</body>
</html>
